
.pin-top {
  position: relative;
}

.pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

html, body, .block {
  height: 100%;
  width: 100%;
  }

  html {
    padding-top: 0px;
  }

.welcome {
  background-color: #1de9b6;
  text-align: center;
  top: 0px;

}

.projects {
  text-align: center;
  background-color: #f44336;
}

#introduction {
  top: 0px;
  padding-top: 0px;

}

h1 {
  padding-top: 0px;
  height: 100%;
  background-color: #1de9b6;
}

.nav-wrapper-top {
  background-color: #1de9b6;
  align-content: center;
  font-size: 40px;
  text-align: center;
}

.nav-wrapper-middle {
  align-content: center;
  text-align: center;
  font-size: 40px;
  background-color: #f44336;
}

.nav-wrapper-bottom, .other {
  align-content: center;
  text-align: center;
  font-size: 40px;
  background-color: #1e88e5;
}
.other {
  font-size: 25px;
}

.content {
  height:100vh;
}
