
.pin-top {
  position: relative;
}

.pin-bottom {
  position: relative;

}

.pinned {
  position: fixed !important;
}
.nav {
  top: 0px;
}
html, body, .block {
  height: 100%;
  width: 100%;
  background-color: inherit;
  color: white;
  margin-bottom: 0px;
  }

.welcome {
  background-color: #1de9b6;
  text-align: center;
  top: 0px;
  display: block;
  margin: 0px;
  padding: 0px;
  height: 100px;
}

.projects, .projects_main {
  text-align: center;
  padding-bottom: 0px;
}

.nav-wrapper-top {
  background-color: #1de9b6;
  align-content: center;
  font-size: 40px;
  text-align: center;
}

.nav-wrapper-middle {
  align-content: center;
  text-align: center;
  font-size: 40px;
  background-color: #f44336;
}

.nav-wrapper-bottom, .other {
  align-content: center;
  text-align: center;
  font-size: 40px;
  background-color: #1e88e5;
}
.other {
  font-size: 25px;
}

.content {
  height:100vh;
}

.topsection, .midsection, .bottomsection {
  box-sizing: inherit;
}

.future {
  padding-bottom: 20px;
}
h4, h2 {
  padding: 10px;
  margin-top: 0px;
}

#introduction{
  background-color: #1de9b6;
}

#experience {
  background-color: #f44336;
}

footer {
  background-color: #ff8a80;
  margin-bottom: 0px;
  padding-bottom: 10px;
  font-size: 15px;
}
