
// Class for when element is above threshold
.pin-top {
  position: relative;
}

// Class for when element is below threshold
.pin-bottom {
  position: relative;
}

// Class for when element is pinned
.pinned {
  position: fixed !important;
}

// Only necessary for window height sized blocks.
html, body, .block {
  height: 100%;
  width: 100%;
  }

.welcome {
  background-color: #ffeb3b;
  text-align: center;
  top: 0px;

}

.projects {
  background-color: #e53935;
  text-align: center;

}

.other {
  background-color: #64b5f6;
  text-align: center;

}

.intro {
  font-size: 50px;
  text-align: center;
  top: auto;
}
